.gridcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    outline: 1px solid;
}

.row1,
.row2,
.row3,
.row4 {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
}